# General
*.env
.env.*
.env
*.log
.idea/
*.iml
*.ipr
*.iws

# Backend
backend/.env
backend/.env.local
backend/venv/
backend/venv_312/
backend/venv_new/
backend/__pycache__/
backend/**/__pycache__/
backend/**/*.pyc
backend/.pytest_cache/
backend/**/.pytest_cache/

# Frontend
frontend/build/
frontend/.dart_tool/
frontend/.packages
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/.pub/
frontend/.pub-cache/

# Android
**/android/local.properties
**/android/.gradle
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/gradle/wrapper/gradle-wrapper.jar
**/android/key.properties
frontend/android/app/google-services.json

# iOS
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.pbxuser
**/ios/.generated/
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/ephemeral/
**/ios/Runner/GeneratedPluginRegistrant.*
build/
